@model Rental4You.ViewModels.ReservationsVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (ViewData.ContainsKey("ErrorMessage") && !string.IsNullOrEmpty(ViewData["ErrorMessage"].ToString()))
        {
            <div class="alert alert-danger">@ViewData["ErrorMessage"]</div>
        }
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="VehicleId" class="form-control" readonly hidden/>
            </div>
            <div class="form-group">
                <label asp-for="PickupDate" class="control-label small"></label>
                <input type ="date" asp-for="PickupDate" class="form-control" />
                <span asp-validation-for="PickupDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryDate" class="control-label small"></label>
                <input type="date" asp-for="DeliveryDate" class="form-control" />
                <span asp-validation-for="DeliveryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
