@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font: 1rem/1.5 var(--bs-font-sans-serif);
  /*    background-color: var(--bs-yellow);*/
}

.searchbar {
  display: flex;
}

.form-group {
  position: relative;
  margin: 5px 10px 5px 0;
}

.form-control {
  position: relative;
}

.form-control small {
  position: absolute;
  top: -10px;
  font-size: 75%;
}

.rating .fa-star {
    color: #FFD700;
}

.rating .fa-star-o {
    color: #CCCCCC;
}

.sort-button{
    margin:10px;
}